{% set static_configs = [] %}
{% for log in log_volume.logs %}
{%   set _dummy = static_configs.append({
        "targets": [ "localhost" ],
        "labels": {
          "service": log_volume.service,
          "job": log_volume.job_prefix+"-"+log,
          "host": inventory_hostname,
          "__path__": "/run/log/"+log_volume.name+"/"+log
        }
      }) %}
{% endfor %}
{{ static_configs | to_nice_json }}
