---
# https://www.uuidgenerator.net/

bootstrap:
  ansible_cfg:
    defaults:
      stdout_callback: human_readable_stdout

host_default: &host_default
  ansible_user: root
  ansible_port: 22

eos_container_default: &eos_container_default
  domain: !unsafe "{{ eos_cluster_domain_name }}"
  image: !unsafe "{{ eos_container_image_name }}:{{ eos_container_image_tag }}"
  network: !unsafe "{{ eos_cluster_domain_name }}"
  etc_hosts:
    eos-mgm-01.eoscluster.sut.ac.th: 202.28.43.169
    eos-fst-01.eoscluster.sut.ac.th: 202.28.43.173
    eos-fst-02.eoscluster.sut.ac.th: 202.28.43.174
    eos-fst-03.eoscluster.sut.ac.th: 202.28.43.175
    eos-krb-01.eoscluster.sut.ac.th: 202.28.43.167

group_vars_all:
  ssh_keyscan: true
  package_upgrade: false
  install_info_home: eos-install-info
  firewall_internal_zone_sources:
  - 134.75.123.0/24
  - 134.75.124.0/24
  - 134.75.125.0/24
  - 134.75.127.0/24
  - 192.168.123.0/24
  - 192.168.124.0/24
  - 192.168.125.0/24
  - 192.168.127.0/24
  - 192.168.2.0/24
  firewall_external_zone_sources:
  - 202.28.43.128/26
  firewall_trusted_zone_sources:
  - 134.75.123.0/24
  firewall_direct_rule_priority_base:
    chrony: 1
  network_routes:
  - device: eno2
    list:
    - 192.168.123.0/24 via 192.168.125.1
    - 192.168.124.0/24 via 192.168.125.1
    - 192.168.125.0/24 via 192.168.125.1
    - 192.168.127.0/24 via 192.168.125.1
    - 192.168.2.0/24 via 192.168.125.1
  - device: bridge-br2
    list:
    - 192.168.0.0/16 via 192.168.125.1
  network_resolv:
    domain: sdfarm.kr
    search: ["sdfarm.kr", "private.lo", "bmc.lo"]
    nameserver: ["134.75.123.233", "134.75.123.231"]
  ntp_servers: ["0.centos.pool.ntp.org iburst", "1.centos.pool.ntp.org iburst", "2.centos.pool.ntp.org iburst", "3.centos.pool.ntp.org iburst"]
  ntp_initstep_servers: ["0.centos.pool.ntp.org", "1.centos.pool.ntp.org", "2.centos.pool.ntp.org", "3.centos.pool.ntp.org"]
  cockpit_enabled: true
  cockpit_plugins:
  - cockpit-dashboard
  - cockpit-docker
  - cockpit-packagekit
  - cockpit-pcp
  - cockpit-storaged
  cockpit_admin_groups:
  - unix-group:wheel
  cockpit_rule_priority_base: 11
  docker_users:
  - localadmin
  eos_cluster_domain_name: eoscluster.sdfarm.kr
  eos_container_image_name: eos-local
  eos_container_image_tag: latest
  eos_instance_name: eostestatcf
  eos_geotag: kisti::gsdc::d10
  eos_mail_cc: sahn@kisti.re.kr
  eos_admin_user: eos-admin
  eos_admin_user_uid: 1001
  eos_admin_user_gid: 1001
  eos_use_proxy: yes
  eos_realm: !unsafe "{{ eos_cluster_domain_name|upper }}"
  eos_nodes: !unsafe "{{ eos_krb_nodes + eos_manager_nodes + eos_proxy_nodes + eos_mgm_nodes + eos_qdb_nodes + eos_fst_nodes }}"
  eos_krb_nodes: "{{ (host_group | default({})) | to_json | from_json |
    json_query('[?not_null(hosts[].host_vars.containers.eos_krb)].[ hosts[].host_vars.containers.eos_krb ]|[]|[]|[]|
      [].join(`.`,[@.name, @.domain])') }}"
  eos_krb_master: !unsafe "{{ eos_krb_nodes[0] }}"
  eos_manager_nodes: "{{ (host_group | default({})) | to_json | from_json |
    json_query('[?not_null(hosts[].host_vars.containers.eos_manager)].[ hosts[].host_vars.containers.eos_manager ]|[]|[]|[]|
      [].join(`.`,[@.name, @.domain])') }}"
  eos_manager_alias: !unsafe "eos-manager.{{ eos_cluster_domain_name }}"
  eos_proxy_nodes: "{{ (host_group | default({})) | to_json | from_json |
    json_query('[?not_null(hosts[].host_vars.containers.eos_proxy)].[ hosts[].host_vars.containers.eos_proxy ]|[]|[]|[]|
      [].join(`.`,[@.name, @.domain])') }}"
  eos_proxy_alias: !unsafe "eos-proxy.{{ eos_cluster_domain_name }}"
  eos_mgm_nodes: "{{ (host_group | default({})) | to_json | from_json |
    json_query('[?not_null(hosts[].host_vars.containers.eos_mgm)].[ hosts[].host_vars.containers.eos_mgm ]|[]|[]|[]|
      [].join(`.`,[@.name, @.domain])') }}"
  eos_mgm_alias: !unsafe "eos-mgm.{{ eos_cluster_domain_name }}"
  eos_qdb_nodes: "{{ (host_group | default({})) | to_json | from_json |
    json_query('[?not_null(hosts[].host_vars.containers.eos_qdb)].[ hosts[].host_vars.containers.eos_qdb ]|[]|[]|[]|
      [].join(`.`,[@.name, @.domain])') }}"
  eos_qdb_alias: !unsafe "eos-qdb.{{ eos_cluster_domain_name }}"
  eos_fst_nodes: "{{ (host_group | default({})) | to_json | from_json |
    json_query('[?not_null(hosts[].host_vars.containers.eos_fst)].[ hosts[].host_vars.containers.eos_fst ]|[]|[]|[]|
      [].join(`.`,[@.name, @.domain])') }}"
  eos_mgm_url_regular: !unsafe "root://{{ eos_mgm_alias }}:1094"
  eos_mgm_url_proxied: !unsafe "root://{{ eos_proxy_node }}:1094//root://{{ eos_mgm_alias }}:1094"
  eos_mq_alias: !unsafe "eos-mgm.{{ eos_cluster_domain_name }}"
  eos_broker_url: !unsafe "root://{{ eos_mq_alias }}:1097//eos/"
  eos_fuse_mgm_alias: !unsafe "{{ eos_mgm_alias }}"
  eos_default_fs_space_name: default
  eos_default_fs_insertion_status: rw
  eos_default_number_of_fst: 3
  eos_use_qdb: yes
  qdb_clusters: !unsafe "{{ eos_qdb_nodes }}"
  qdb_port: 7777
  qdb_cluster_uuid: 689d996e-c5ee-4bdb-a9be-6689e52a4340
  qdb_redis_databases:
  - /var/lib/quarkdb/node-01
  - /var/lib/quarkdb/node-02
  - /var/lib/quarkdb/node-03
  krb5_conf:
    libdefaults:
      default_realm: !unsafe "{{ eos_realm }}"
    realms:
    - name: EOSCLUSTER.SDFARM.KR
      config:
        kdc: eos-krb-01.eoscluster.sdfarm.kr
        admin_server: eos-krb-01.eoscluster.sdfarm.kr
        master_kdc: eos-krb-01.eoscluster.sdfarm.kr
        default_domain: eoscluster.sdfarm.kr
    - name: SDFARM.KR
      config:
        kdc:
        - ipa1.sdfarm.kr
        - ipa2.sdfarm.kr
        - ipa.sdfarm.kr
        admin_server: ipa1.sdfarm.kr
    - name: EOSCLUSTER.SUT.AC.TH
      config:
        kdc: eos-krb-01.eoscluster.sut.ac.th
        admin_server: eos-krb-01.eoscluster.sut.ac.th
    domain_realms:
    - domain: .eoscluster.sdfarm.kr
      realm: EOSCLUSTER.SDFARM.KR
    - domain: eoscluster.sdfarm.kr
      realm: EOSCLUSTER.SDFARM.KR
    - domain: .sdfarm.kr
      realm: SDFARM.KR
    - domain: sdfarm.kr
      realm: SDFARM.KR
    - domain: .eoscluster.sut.ac.th
      realm: EOSCLUSTER.SUT.AC.TH
    - domain: eoscluster.sut.ac.th
      realm: EOSCLUSTER.SUT.AC.TH
    capaths:
    - realm: EOSCLUSTER.SDFARM.KR
      config:
      - target_realm: SDFARM.KR
        next_realm: "."
      - target_realm: EOSCLUSTER.SUT.AC.TH
        next_realm: "."
    - realm: EOSCLUSTER.SUT.AC.TH
      config:
      - target_realm: EOSCLUSTER.SDFARM.KR
        next_realm: "."
  krb5_cross_realm_authentication_password_id:
  - target_realm: SDFARM.KR
    password_id: 1
  - target_realm: EOSCLUSTER.SUT.AC.TH
    password_id: 2
  admin:
    id: !unsafe "{{ vault_admin.id }}"
    password: !unsafe "{{ vault_admin.password }}"
  manager:
    id: !unsafe "{{ vault_manager.id }}"
    password: !unsafe "{{ vault_manager.password }}"
  random_passwords: !unsafe "{{ vault_random_passwords }}"


host_group:
- name: eos_infra_kisti
  hosts:
  - name: eos-kisti-01.sdfarm.kr
    <<: *host_default
    host_vars:
      eos_geotag: "kisti::gsdc::d10"
      network_bridge:
      - conn_name: bridge-br1
        ifname: br1
        stp: no
        slave_conn_name: uplink-br1
        slave_ifname: eno1
        conflict_conn_name: System eno1
        conflict_type: ethernet
        ip4: 134.75.125.31/24
        gw4: 134.75.125.1
        mtu: 1500
      - conn_name: bridge-br2
        ifname: br2
        stp: no
        slave_conn_name: uplink-br2
        slave_ifname: eno2
        conflict_conn_name: System eno2
        conflict_type: ethernet
        ip4: 192.168.125.31/24
        gw4: ''
        mtu: 1500
      container_network_user_firewall_rules:
      - { tag: "multi-cast address", rule: "ipv4 filter DOCKER-USER 1 -d 224.0.0.0/4 -j RETURN" }
      - { tag: "bridge-br1 address", rule: "ipv4 filter DOCKER-USER 2 -d 134.75.125.31 -j RETURN" }
      - { tag: "bridge-br2 address", rule: "ipv4 filter DOCKER-USER 3 -s 192.168.0.0/16 -d 192.168.125.31 -j RETURN" }
      - { tag: "internal address 01", rule: "ipv4 filter DOCKER-USER 11 -s 134.75.123.0/24 -j RETURN" }
      - { tag: "internal address 02", rule: "ipv4 filter DOCKER-USER 12 -s 134.75.124.0/24 -j RETURN" }
      - { tag: "internal address 03", rule: "ipv4 filter DOCKER-USER 13 -s 134.75.125.0/24 -j RETURN" }
      - { tag: "internal address 04", rule: "ipv4 filter DOCKER-USER 14 -s 134.75.127.0/24 -j RETURN" }
      - { tag: "internal address 05", rule: "ipv4 filter DOCKER-USER 15 -s 192.168.123.0/24 -j RETURN" }
      - { tag: "internal address 06", rule: "ipv4 filter DOCKER-USER 16 -s 192.168.124.0/24 -j RETURN" }
      - { tag: "internal address 07", rule: "ipv4 filter DOCKER-USER 17 -s 192.168.125.0/24 -j RETURN" }
      - { tag: "internal address 08", rule: "ipv4 filter DOCKER-USER 18 -s 192.168.127.0/24 -j RETURN" }
      - { tag: "internal address 09", rule: "ipv4 filter DOCKER-USER 19 -s 192.168.2.0/24 -j RETURN" }
      - { tag: "drop log no bridge-br2 address", rule: "ipv4 filter DOCKER-USER 996 -s 192.168.0.0/16 ! -d 192.168.125.31 -j LOG --log-prefix \"DU_DROP: \"" }
      - { tag: "drop no bridge-br2 address", rule: "ipv4 filter DOCKER-USER 997 -s 192.168.0.0/16 ! -d 192.168.125.31 -j DROP" }
      - { tag: "drop log no bridge-br1 address", rule: "ipv4 filter DOCKER-USER 998 ! -d 134.75.125.31 -j LOG --log-prefix \"DU_DROP: \"" }
      - { tag: "drop no bridge-br1 address", rule: "ipv4 filter DOCKER-USER 999 ! -d 134.75.125.31 -j DROP" }
      container_network:
      - name: eoscluster.sdfarm.kr
        gateway: 134.75.125.31
        subnet: 134.75.125.0/24
        masquerade: false
        bridge_name: br1
      containers:
        eos_krb:
        - name: eos-krb-01
          <<: *eos_container_default
          ipv4_address: 134.75.125.30
          network_aliases:
          - eos-krb
          - !unsafe "eos-krb.{{ eos_cluster_domain_name }}"
          krb_realm: !unsafe "{{ eos_realm }}"
        eos_qdb:
        - name: eos-qdb-01
          <<: *eos_container_default
          ipv4_address: 134.75.125.35
          network_aliases: &qdb_network_aliases
          - eos-qdb
          - !unsafe "eos-qdb.{{ eos_cluster_domain_name }}"
          redis_database: /var/lib/quarkdb/qdb-01
          nfs_volumes:
          - name: qdb
            dest: /var/lib/quarkdb
            device: :/ifs/service/eos_kisti/qdb01
            options: addr=pool0.gsn3.sdfarm.kr,rw,nfsvers=4
        - name: eos-qdb-02
          <<: *eos_container_default
          ipv4_address: 134.75.125.36
          network_aliases: *qdb_network_aliases
          redis_database: /var/lib/quarkdb/qdb-02
          nfs_volumes:
          - name: qdb
            dest: /var/lib/quarkdb
            device: :/ifs/service/eos_kisti/qdb02
            options: addr=pool0.gsn3.sdfarm.kr,rw,nfsvers=4
        - name: eos-qdb-03
          <<: *eos_container_default
          ipv4_address: 134.75.125.37
          network_aliases: *qdb_network_aliases
          redis_database: /var/lib/quarkdb/qdb-03
          nfs_volumes:
          - name: qdb
            dest: /var/lib/quarkdb
            device: :/ifs/service/eos_kisti/qdb03
            options: addr=pool0.gsn3.sdfarm.kr,rw,nfsvers=4
        eos_proxy:
        - name: eos-proxy-01
          <<: *eos_container_default
          ipv4_address: 134.75.125.34
          network_aliases:
          - eos-proxy
          - !unsafe "eos-proxy.{{ eos_cluster_domain_name }}"
          xrd_roles:
          - proxy
        eos_mgm:
        - name: eos-mgm-01
          <<: *eos_container_default
          ipv4_address: 134.75.125.23
          network_aliases: &mgm_network_aliases
          - eos-mgm
          - !unsafe "eos-mgm.{{ eos_cluster_domain_name }}"
          xrd_roles:
          - mq
          - mgm
          mgm_host: !unsafe "{{ eos_mgm_nodes[0] }}"
          mgm_host_target: !unsafe "{{ eos_mgm_nodes[1] }}"
        - name: eos-mgm-02
          <<: *eos_container_default
          ipv4_address: 134.75.125.24
          network_aliases: *mgm_network_aliases
          xrd_roles:
          - mq
          - mgm
          mgm_host: !unsafe "{{ eos_mgm_nodes[1] }}"
          mgm_host_target: !unsafe "{{ eos_mgm_nodes[0] }}"
        eos_fst:
        - name: eos-fst-01
          <<: *eos_container_default
          ipv4_address: 134.75.125.38
          xrd_roles:
          - fst
          data_dir: /data/disk01
          nfs_volumes:
          - name: data
            dest: /data
            device: :/ifs/service/eos_kisti/fst01
            options: addr=pool0.gsn3.sdfarm.kr,rw,nfsvers=3
          fst_fsid: 1
          fst_uuid: 627bcd30-1af6-4525-a0c9-8a958a863b91
          fst_space: !unsafe "{{ eos_default_fs_space_name }}"
          fst_status: !unsafe "{{ eos_default_fs_insertion_status }}"
        - name: eos-fst-02
          <<: *eos_container_default
          ipv4_address: 134.75.125.39
          xrd_roles:
          - fst
          data_dir: /data/disk02
          nfs_volumes:
          - name: data
            dest: /data
            device: :/ifs/service/eos_kisti/fst02
            options: addr=pool0.gsn3.sdfarm.kr,rw,nfsvers=3
          fst_fsid: 2
          fst_uuid: 7469a2ee-ecbf-4a46-ac42-9d1f1adaa7e3
          fst_space: !unsafe "{{ eos_default_fs_space_name }}"
          fst_status: !unsafe "{{ eos_default_fs_insertion_status }}"
        - name: eos-fst-03
          <<: *eos_container_default
          ipv4_address: 134.75.125.40
          xrd_roles:
          - fst
          data_dir: /data/disk03
          nfs_volumes:
          - name: data
            dest: /data
            device: :/ifs/service/eos_kisti/fst03
            options: addr=pool0.gsn3.sdfarm.kr,rw,nfsvers=3
          fst_fsid: 3
          fst_uuid: 7b30fa24-5b9a-426d-9af8-98a62c341e19
          fst_space: !unsafe "{{ eos_default_fs_space_name }}"
          fst_status: !unsafe "{{ eos_default_fs_insertion_status }}"
        eos_manager:
        - name: eos-manager-01
          <<: *eos_container_default
          ipv4_address: 134.75.125.20
          network_aliases:
          - eos-manager
          - !unsafe "eos-manager.{{ eos_cluster_domain_name }}"
          xrd_roles:
          - eosxd
          logs:
          - fuse/fuse.main.log
        grafana_server:
        - name: grafana-server
        grafana_loki:
        - name: grafana-loki
        grafana_promtail:
        - name: grafana-promtail
  - name: eos-kisti-02.sdfarm.kr
    <<: *host_default
    host_vars:
      network_bridge:
      - conn_name: bridge-br1
        ifname: br1
        stp: no
        slave_conn_name: uplink-br1
        slave_ifname: eno1
        conflict_conn_name: System eno1
        conflict_type: ethernet
        ip4: 134.75.125.32/24
        gw4: 134.75.125.1
        mtu: 1500
      - conn_name: bridge-br2
        ifname: br2
        stp: no
        slave_conn_name: uplink-br2
        slave_ifname: eno2
        conflict_conn_name: System eno2
        conflict_type: ethernet
        ip4: 192.168.125.32/24
        gw4: ''
        mtu: 1500
  # - name: eos-kisti-03.sdfarm.kr
  #   <<: *host_default
  #   host_vars:
  #     network_bridge:
  #     - conn_name: bridge-br1
  #       ifname: br1
  #       stp: no
  #       slave_conn_name: uplink-br1
  #       slave_ifname: eno1
  #       conflict_conn_name: System eno1
  #       conflict_type: ethernet
  #       ip4: 134.75.125.33/24
  #       gw4: 134.75.125.1
  #       mtu: 1500
  #     - conn_name: bridge-br2
  #       ifname: br2
  #       stp: no
  #       slave_conn_name: uplink-br2
  #       slave_ifname: eno2
  #       conflict_conn_name: System eno2
  #       conflict_type: ethernet
  #       ip4: 192.168.125.33/24
  #       gw4: ''
  #       mtu: 1500
  group_vars: {}
- name: eos_infra_sut
  hosts:
  - name: physics4.sut.ac.th
    ansible_user: root
    ansible_port: 22
    host_vars:
      eos_geotag: "sut::bnct::a209"
      network_bridge:
      - conn_name: bridge-br1
        ifname: br1
        stp: no
        slave_conn_name: uplink-br1
        slave_ifname: enp1s0f0
        conflict_conn_name: enp1s0f0
        conflict_type: ethernet
        ip4: 202.28.43.139/26
        gw4: 202.28.43.190
        mtu: 1500
  group_vars:
    package_upgrade: false
    firewall_internal_zone_sources:
    - 202.28.43.128/26
    firewall_external_zone_sources:
    - 134.75.123.0/24
    - 134.75.125.0/24
    firewall_trusted_zone_sources:
    - 202.28.43.128/26
    network_routes: []
    network_resolv:
      domain: sut.ac.th
      search: ["sut.ac.th"]
      nameserver: ["203.158.4.45", "8.8.8.8"]
    docker_users:
    - kobdaj
    - jsongwad
    - kisti
- name: eos_infra
  children:
  - name: eos_infra_kisti
  - name: eos_infra_sut
  group_vars: {}
