#!/usr/bin/env bash

source /etc/sysconfig/eos

if [ -e /opt/eos/xrootd/bin/xrootd ]; then
  XROOTDEXE="/opt/eos/xrootd//bin/xrootd"
else
  XROOTDEXE="/usr/bin/xrootd"
fi

cd /var/spool/eos/core
${XROOTDEXE} -n sync -c /etc/xrd.cf.sync -l /var/log/eos/xrdlog.sync -s /tmp/xrootd.sync.pid -b -Rdaemon
