#!/usr/bin/env bash

source /etc/sysconfig/eos

chown daemon:daemon /etc/eos.krb5.keytab

if [ -e /opt/eos/xrootd/bin/xrootd ]; then
  XROOTDEXE="/opt/eos/xrootd//bin/xrootd"
else
  XROOTDEXE="/usr/bin/xrootd"
fi

${XROOTDEXE} -n mgm -c /etc/xrd.cf.mgm -m -l /var/log/eos/xrdlog.mgm -b -Rdaemon

# Enable sss authentication for the FSTs to connect to the MGM
eos -b vid enable sss

# let the force be with {{ eos_admin_user }} (typically krb-authenticated on clients)
groupadd -g {{ eos_admin_user_gid }} {{ eos_admin_user }}
useradd -u {{ eos_admin_user_uid }} -g {{ eos_admin_user_gid }} {{ eos_admin_user }}
eos -b vid set membership {{ eos_admin_user }} +sudo

if [ ! -e /root/INITIALIZED ] ; then

  touch /root/INITIALIZED
fi
