#!/usr/bin/env bash

source /etc/sysconfig/eos

if [ -e /opt/eos/xrootd/bin/xrootd ]; then
  XROOTDEXE="/opt/eos/xrootd//bin/xrootd"
else
  XROOTDEXE="/usr/bin/xrootd"
fi

if [ "${EOS_MGM_MASTER1}" == "$(hostname -f)" ] ; then
  if [[ "$XRD_ROLES" == *"mgm"* ]]; then
    touch /var/eos/eos.mq.master
  fi
else
  if [[ "$XRD_ROLES" == *"mgm"* ]]; then
    unlink /var/eos/eos.mq.master
  fi
fi

cd /var/spool/eos/core
${XROOTDEXE} -n mq -c /etc/xrd.cf.mq -l /var/log/eos/xrdlog.mq -s /tmp/xrootd.mq.pid -b -Rdaemon
