{% set cockpit_clusters = {} %}
{% for host in groups['all'] %}
{%   if host != inventory_hostname %}
{%     set _dummy = cockpit_clusters.update({ host: { "address": hostvars[host]['ansible_fqdn'], "visible": true } }) %}
{%   endif %}
{% endfor %}
{{ cockpit_clusters | to_nice_json }}
