{% if host_group is defined and host_group|length > 0 %}
{%   for group in  host_group %}
{%     if group.name is defined and group.hosts is defined and group.hosts|length > 0 %}
{{ "" }}
[{{ group.name }}]
{%       for host in group.hosts %}
{{ host.name }}
{%-        if host.ansible_user is defined %}
 ansible_user={{ host.ansible_user }}
{%-        endif -%}
{%-        if host.ansible_port is defined %}
 ansible_port={{ host.ansible_port }}
{%-        endif -%}
{%-        if host.ansible_host is defined %}
 ansible_host={{ host.ansible_host }}
{%         endif %}

{%       endfor %}
{%     elif group.name is defined and group.children is defined and group.children|length > 0 %}
{{ "" }}
[{{ group.name }}:children]
{%       for child in group.children %}
{{ child.name }}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
