$template IPTablesFormat,"%TIMESTAMP:::date-rfc3339% %HOSTNAME% %msg:::drop-last-lf%\n"
if $programname == "kernel" and ($msg startswith "IN_drop_DROP" or $msg startswith "FWDI_drop_DROP" or $msg startswith "FWDO_drop_DROP" or $msg startswith "FINAL_REJECT" or $msg startswith "STATE_INVALID_DROP" or $msg startswith "rpfilter_DROP" or $msg startswith "FWDID_DROP" or $msg startswith "FWDOD_DROP" or $msg startswith "ID_null" or $msg startswith "ID_syn-fld" or $msg startswith "ID_XMAS" or $msg startswith "DU_DROP" or $msg startswith "DU_null" or $msg startswith "DU_syn-fld" or $msg startswith "DU_XMAS") then {{ iptables_syslog_file }};IPTablesFormat
& ~
