---
# - name: "Ansible | List all known variables and facts"
#   debug:
#     var: hostvars[inventory_hostname]
# - debug: var=container_network_user_firewall_rules

- name: Check container network gateway address
  assert:
    that:
    - network_bridge|json_query('[? ifname == `'+item.bridge_name+'` ].ip4|[0]') is match(item.gateway)
    fail_msg: container network gateway address must be same the bridge address
  loop: "{{ container_network|default([]) }}"

- name: Create install information home directory
  file:
    path: "{{ install_info_home }}"
    state: directory
    mode: 0700

- name: Install base package
  package:
    name:
    - yum-utils
    state: installed
  register: install_packages
  until: install_packages is success
  retries: 5
  delay: 3

- name: Check timezone
  shell: "timedatectl status | grep 'Time zone:' | awk '{ print $3 }'"
  args:
    executable: /bin/bash
  changed_when: False
  register: timezone_result

- set_fact:
    iana_timezone: "{{ timezone_result.stdout }}"
