# Configuration snippets may be placed in this directory as well
includedir /etc/krb5.conf.d/

[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 dns_lookup_realm = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 rdns = false
 pkinit_anchors = /etc/pki/tls/certs/ca-bundle.crt
 default_realm = {{ krb5_conf.libdefaults.default_realm }}
 default_ccache_name = KEYRING:persistent:%{uid}

[realms]
{% for realm in  krb5_conf.realms %}
 {{ realm.name }} = {
{%   for config_key, config_value in  realm.config.items() %}
{%     if config_value is string %}
  {{ config_key }} = {{ config_value }}
{%     else %}
{%       for config_value_item in  config_value %}
  {{ config_key }} = {{ config_value_item }}
{%       endfor %}
{%     endif %}
{%   endfor %}
 }
{% endfor %}

[domain_realm]
{% for domain_realm in  krb5_conf.domain_realms %}
 {{ domain_realm.domain }} = {{ domain_realm.realm }}
{% endfor %}

[capaths]
{% for capath in  krb5_conf.capaths %}
 {{ capath.realm }} = {
{%   for config in  capath.config %}
  {{ config.target_realm }} = {{ config.next_realm }}
{%   endfor %}
 }
{% endfor %}
