---
- name: reload systemd
  command: systemctl daemon-reload

- name: reload network interface
  shell: nmcli con reload
  listen: "wait for new network settings"

- name: restart NetworkManager
  systemd: name=NetworkManager state=restarted
  listen: "wait for new network settings"

- name: restart network
  systemd: name=network state=restarted
  listen: "wait for new network settings"

- name: reload firewalld
  command: firewall-cmd --reload

- name: restart chronyd
  systemd: name=chronyd state=restarted

- name: restart rsyslog
  systemd: name=rsyslog state=restarted

- name: restart docker
  systemd: name=docker state=restarted

- name: reload docker
  systemd: name=docker state=reloaded

- name: pause before waiting
  pause: seconds=5
  listen: "wait for new network settings"

- name: wait for network enabled
  wait_for: host={{ (ansible_ssh_host|default(ansible_host))|default(inventory_hostname) }} port={{ ansible_port }} state=started search_regex=OpenSSH delay=10 timeout=300
  connection: local
  listen: "wait for new network settings"

- name: renew container log scrap SD targets file
  shell: |
    TARGETS="$(docker container ls --format '- targets: ["{{ "{{" }}.ID{{ "}}" }}"]\n  labels:\n    job: containers\n    container_name: "{{ "{{" }}.Names{{ "}}" }}"' )"
    if ! echo "$TARGETS" | cmp -s {{ loki_promtail_config_base_directory|default('/etc/loki') }}/loki-promtail-{{ ansible_hostname }}/container-targets.yaml ; then
      echo "$TARGETS" > {{ loki_promtail_config_base_directory|default('/etc/loki') }}/loki-promtail-{{ ansible_hostname }}/container-targets.yaml &&
      echo changed;
    else
      echo skipped;
    fi
  register: command_result
  changed_when: command_result.stdout_lines|length > 0 and command_result.stdout_lines[-1] == 'changed'
  listen: "renew container log scrap targets file"

- name: renew container-log-volume scrap SD targets file
  shell: |
    TARGETS="$(docker volume ls --format '{{ "{{" }} .Name {{ "}}" }}' | grep '_log$' | sed 's/_log$//g' )"
    TARGETS_SD=""
    for target in $TARGETS; do
      if [ $(find /var/log/container/$target/ -maxdepth 1 -type d | wc -l) -gt 1 ]; then
        TARGETS_SD="${TARGETS_SD}\n- targets: ['${target}_log']\n  labels:\n    job: container-log-volume\n    container_name: ${target}\n    __path__: /var/log/container/$target/*/*.log\n" ;
      else 
        TARGETS_SD="${TARGETS_SD}\n- targets: ['${target}_log']\n  labels:\n    job: container-log-volume\n    container_name: ${target}\n    __path__: /var/log/container/$target/*.log\n" ;
      fi
    done
    if ! echo -e "$TARGETS_SD" | cmp -s {{ loki_promtail_config_base_directory|default('/etc/loki') }}/{{ ansible_hostname }}/container-log-volume-targets.yaml ; then
      echo -e "$TARGETS_SD" > {{ loki_promtail_config_base_directory|default('/etc/loki') }}/{{ ansible_hostname }}/container-log-volume-targets.yaml &&
      echo changed;
    else
      echo skipped;
    fi
  register: command_result
  changed_when: command_result.stdout_lines|length > 0 and command_result.stdout_lines[-1] == 'changed'
  listen: "renew container log scrap targets file"
