#!/usr/bin/env bash

if [ ! -e /tmp/xrootd.proxy.pid ] || ! ps $(cat /tmp/xrootd.proxy.pid) | grep 'xrootd -n proxy' &>/dev/null ; then
  if [ -e /opt/eos/xrootd/bin/xrootd ]; then
    XROOTDEXE="/opt/eos/xrootd//bin/xrootd"
  else
    XROOTDEXE="/usr/bin/xrootd"
  fi

  cd /var/spool/eos/core
  ${XROOTDEXE} -n proxy -c /etc/xrootd/xrootd-fwd-proxy.cfg -l /var/log/eos/xrootd.proxy.log -k fifo -s /tmp/xrootd.proxy.pid -b -Rdaemon
else
  echo "Already started, PID: $(cat /tmp/xrootd.proxy.pid)"
fi
