[logging]
  default = FILE:/var/log/heimdal/heimdal.log
  kdc = FILE:/var/log/heimdal/kdc.log
  admin_server = FILE:/var/log/heimdal/kadmind.log

[kdc]
  enable-http = false

[kadmin]
  require-preauth = true
